services:
  print-lasso-service:
    network_mode: host
    build:
      context: .
      dockerfile: Dockerfile
    container_name: print-lasso-service
    environment:
      PRINT_LASSO_SQLITE_FILE: /data/print_lasso.db
    ports:
      - "${PRINT_LASSO_PORT:-9000}:9000"
    volumes:
      - print_lasso_data:/data
    restart: unless-stopped

  go2rtc:
    network_mode: host
    image: alexxit/go2rtc:latest
    container_name: print-lasso-go2rtc
    ports:
      - "1984:1984"
      - "8554:8554"
      - "8555:8555/tcp"
      - "8555:8555/udp"
    volumes:
      - ./go2rtc:/config
    restart: unless-stopped

volumes:
  print_lasso_data:
